@import './common';
@import './example';

.container {
    height: 50px;
    background-color: teal;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visible {
    visibility: hidden;
}
.gallery {
    display: grid;
    gap: 20;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

img {
    display: block;
    max-width: 100%;
}